/*  { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }  */

/* BASE */
body {
  font-family: "Nunito", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: 400; */
  font-style: normal;
  color: #6b350e;
  font-size: 22px;
  margin: 20px;
  background-color: #35667c;
}

/* HEADER / HERO */
.content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 30px;
  max-width: 1300px;
  margin: auto auto;
}

.overlay-content {
  background-image: linear-gradient(to bottom, #6b350e, rgba(125, 0, 0, 0));
  min-height: 650px;
  border-radius: 20px;
}

header {
  background: url("img/header-photo.jpg") center/cover no-repeat;
  color: #fff;
  min-height: 500px;
  border-radius: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

nav img {
  padding: 20px;
  padding-left: 5px;
}

h1 {
  font-size: 45px;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
}

.overlay-content > div {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INTRO */
.intro {
  text-align: center;
  padding: 20px 10px;
}

.eyebrow {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #6b350e;
}

.intro h2 {
  margin-top: 10px;
  font-size: 40px;
}

.hours {
  margin-top: 10px;
  font-size: 25px;
}

/* FEATURES */
/* .features {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  margin-bottom: 4rem;
}

.feature.reverse {
  direction: rtl;
}

.feature.reverse .feature-text {
  direction: ltr;
}

.feature-text h3 {
  margin-bottom: 0.75rem;
  font-size: 1.2rem;
} */

/* MENUS */
.menus {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 30px;
  /* max-width: 900px;
  margin: 0 auto 12px;
  padding: 0 10px; */

  color: white;
  justify-content: center;
  padding-top: 80px;
}

.menu-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;

  position: relative;
  height: 390px;
  width: 500px;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
}

.menu-card {
  position: absolute;
  bottom: 10px;
  /* right: 100px; */
  font-size: 30px;
  font-weight: 800;
}

.coffee-sign {
  margin-left: auto;
  margin-right: auto;
}

div .coffee-sign {
  display: flex;
  justify-content: center;
}

/* FOOTER */
footer {
  margin-top: 50px;
  border-top: solid 3px #3b1f0e;
  font-size: 25px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.address {
  font-weight: 800;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  padding-right: 13px;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}
